<section id="explorer">
  <%= if @status == :authenticated do %>
    <div class="results">
      <%= render_many @results, SearchView, "result.html", as: :item %>
    </div>
    <%= render PlayerView, "mini.html", now_playing: @now_playing %>
  <% else %>
    <p>The application requires you to Login into your Spotify account.</p>
  <% end %>
</section>
