<section id="player" class="d-flex justify-content-center align-items-end">
  <%= if @status == :authenticated do %>
    <%= render PlayerView, "mini.html", now_playing: @now_playing %>
  <% else %>
    <p>The application requires you to Login into your Spotify account.</p>
  <% end %>
</section>
