<% if @pagination_opts.total_pages > 0 do %>
  <ul class="pagination">
    <%= prev_page(@pagination_opts, @url_fn) %>
    <%= for page <- @pagination_opts.pages do %>
      <%= numbered_page(page, @pagination_opts, @url_fn) %>
    <% end %>
    <%= next_page(@pagination_opts, @url_fn) %>
  </ul>
<% end %>
