/* This file is for your main application css. */
@import "./milligram.css";
@import "../node_modules/nprogress/nprogress.css";

$accent-color: darken(#4cb6cb, 20%);
$complementary-accent-color: darken($accent-color, 20%);
$bg-color: #5a6a7a;

$general-padding: 1rem;

html {
  background-color: #f2f4f8;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  margin: 0;
}

button, .button {
  background-color: $accent-color;
  border-color: $accent-color;

  &:hover {
    background-color: $complementary-accent-color;
    border-color: $complementary-accent-color;
  }

  svg {
    fill: white;
  }
}

a {
  color: $accent-color;

  &:visited {
    color: $accent-color;
  }

  &:hover {
    color: $complementary-accent-color;
  }
}

a.reversed {
  color: white;

  &:visited {
    color: white;
  }

  &:hover {
    color: darken(white, 20%);
  }
}

.button-small {
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.button-group {
  display: flex;

  button, .button {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: .4rem;
      border-bottom-left-radius: .4rem;
    }

    &:last-child {
      border-top-right-radius: .4rem;
      border-bottom-right-radius: .4rem;
    }
  }
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

header {
  padding: 1.7rem 0.8rem 0;
  text-align: center;
  float: left;

  $logo-dimension: 3em;
  svg {
    width: $logo-dimension;
    height: $logo-dimension;
    fill: $accent-color;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: $general-padding;
  min-height: 8rem;

  .search {
    flex-grow: 1;

    form {
      display: flex;
      margin-bottom: 0;

      input, select, button {
        margin: 1rem 0.5rem 1rem 0;
      }

      input {
        max-width: 20em;
      }

      select {
        max-width: 8em;
      }
    }
  }

  .user-mini {
    display: flex;
    align-items: center;

    img {
      width: 2em;
      border-radius: 50%;
    }

    p {
      margin: 0 0.5em 0 0.5em;
    }

  }
}

.full-screen-notice {
  text-align: center;
  padding: 3em;

  p {
    font-size: 1.4em;
  }
}

.artwork {
  position: relative;

  .play-button {
    display: none;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 4em;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    svg {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      padding: 1rem;
      cursor: pointer;
    }
  }

  &:hover {
    img {
    filter: brightness(0.6);
  }

    .play-button {
      display: flex;
      filter: none;
      z-index: 1;
    }

  }
}

.results {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: $general-padding;

  .result {
    display: flex;
    flex-direction: column;
    margin: 0.4em;
  }

  .name, .artist-name {
    font-size: 1em;
    margin-bottom: 0.2em;
  }

  .name {
    font-weight: bold;
  }

  .actions {
    text-align: center;
  }
}

.item-show {
  display: grid;
  max-width: 40%;
  margin: 0 auto;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "artwork meta"
    "tracks tracks";
  padding: 1em;

  .meta {
    grid-area: meta;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1 {
      font-size: 3.6rem;
      line-height: 1.25;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 2.8rem;
      line-height: 1.3;
      margin-bottom: 1rem;
    }
  }

  .artwork {
    grid-area: artwork;
    max-width: 24rem;
    margin: 1rem;
  }

  .tracklist{
    grid-area: tracks;
    margin-bottom: 10rem;
    max-width: 100%;

    li {
      display: flex;
      justify-content: space-between;

      .track-number {
        min-width: 2em;
        text-align: right;
      }

      .name {
        margin-left: 0.5em;
        margin-right: 0.5em;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
      }

      &.playing {
        font-weight: bold;
      }
    }
  }
}

.mini-player {
  background-color: $bg-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.8em 1.5em 0.8em 1em;

  img {
    max-width: 48px;
  }

  p {
    margin-bottom: 0;
  }

  .progress {
    flex-grow: 1;
    margin: 0 4em;
    display: flex;
    align-items: center;

    progress {
      margin: 0.8em;
      flex-grow: 1;
    }
  }

  .meta {
    margin: 0 1em 0 1em;
  }

  .name, .artist-name, .button {
    margin-bottom: 0;
  }

  .name {
    font-weight: bold;
  }

  .device {
    font-size: 2em;
    display: flex;
    margin-right: .5em;
  }

  .controls a {
    font-size: 1.2em;
  }
}

@media (max-width: 1024px) {
  .results {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
  }

  .item-show {
    max-width: 80%;
  }

  .artwork {
    .play-button {
      display: flex;
    }
  }
}

@media (max-width: 768px) {
  header {
    float: none;
  }

  .navbar {
    flex-direction: column;

    h1 {
      font-size: 1.5em;
    }

    $font-size: 1.5rem;
    .search form input {
      width: 8.4em;
      font-size: $font-size;
    }

    select {
      font-size: $font-size;
    }
  }

  #explorer {
    margin-top: 1em;
  }

  .artwork {
    .play-button {
      display: flex;
    }
  }

  .results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    p {
      margin-bottom: 0;
    }


    .name, .artist-name {
      font-size: 0.8em;
      margin-bottom: 0.2em;
    }
  }

  .item-show {
    margin: 1em;
    display: flex;
    flex-direction: column;
    max-width: none;
    align-items: center;

    .artwork {
      max-width: 10em;
    }

    .meta {
      h1 {
        font-size: 2.2rem;
        letter-spacing: -.08rem;
        line-height: 1.35;
      }

      h2 {
        font-size: 1.8rem;
        letter-spacing: -.05rem;
        line-height: 1.5;
      }
    }
  }

  .mini-player {
    width: 100%;
    justify-content: space-between;
    padding: 0.8em;
    flex-wrap: wrap;

    .progress {
      flex-grow: 0;
      width: 100%;
      order: -1;
      margin: 0.1em 0.4em 0.8em;
    }

    .meta {
      flex-grow: 1;
      font-size: 0.8em;

      .name {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 11em;
      }
    }

    .device {
      display: none;
    }
  }
}

/* LiveView specific classes for your customizations */

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
