/* This file is for your main application css. */
@import "./milligram.css";
@import "../node_modules/nprogress/nprogress.css";

// Navigation Header

.navbar {
  display: flex;
  outline: 1px solid red;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 2em;
    margin: 0 0.5em 0 0;
  }

  .search {
    flex-grow: 1;

    form {
      display: flex;
      margin-bottom: 0;

      input, select, button {
        margin: 1rem 0.5rem 1rem 0;
      }

      input {
        max-width: 20em;
      }

      select {
        max-width: 8em;
      }
    }
  }

  .user-mini {
    display: flex;
    align-items: center;

    img {
      width: 2em;
    }

    p {
      margin: 0 0.5em 0 0.5em;
    }

  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;

    h1 {
      font-size: 1.5em;
    }

    .search form input {
      max-width: 12em;
    }
  }
}

/* LiveView specific classes for your customizations */

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
