/* This file is for your main application css. */
@import "./milligram.css";
@import "../node_modules/nprogress/nprogress.css";

.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

// Navigation Header

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 2em;
    margin: 0 0.5em 0 0;
  }

  .search {
    flex-grow: 1;

    form {
      display: flex;
      margin-bottom: 0;

      input, select, button {
        margin: 1rem 0.5rem 1rem 0;
      }

      input {
        max-width: 20em;
      }

      select {
        max-width: 8em;
      }
    }
  }

  .user-mini {
    display: flex;
    align-items: center;

    img {
      width: 2em;
    }

    p {
      margin: 0 0.5em 0 0.5em;
    }

  }
}

.results {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .meta {
    position: relative;
    text-align: center;

    .play-button {
      position: absolute;
      text-align: center;
      color: white;
      font-size: 4em;
      justify-content: center;
      align-items: center;
      max-height: 150px;
      width: 100%;
      height: 100%;
      display: none;

    }

    &:hover .play-button {
      display: flex;
    }
  }

  .name, .artist-name {
    font-size: 1em;
    margin-bottom: 0.2em;
  }

  .name {
    font-weight: bold;
  }

  img {
    max-height: 150px;
    max-width: 150px;
  }

  .actions {
    text-align: center;
  }
}

.mini-player {
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5em;

  .meta {
    margin: 0 1em 0 1em;
  }

  .name, .artist-name, .button {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;

    h1 {
      font-size: 1.5em;
    }

    $font-size: 1.5rem;
    .search form input {
      width: 9em;
      font-size: $font-size;
    }

    select {
      font-size: $font-size;
    }
  }

  #explorer {
    margin-top: 1em;
  }

  .results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    $img-dimension: 72px;
    img {
      max-height: $img-dimension;
      max-width: $img-dimension;
    }

    p {
      margin-bottom: 0;
    }

    .meta {
      text-align: center;

      .play-button {
        font-size: 2em;
        display: flex;
        max-height: $img-dimension;
      }
    }

    .name, .artist-name {
      font-size: 0.8em;
      margin-bottom: 0.2em;
    }
  }

  .mini-player {
    width: 100%;
    justify-content: space-between;

    .meta {
      flex-grow: 1;
    }
  }
}

/* LiveView specific classes for your customizations */

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
