@import "./colors";

.episode-list {
  li {
    display: grid;
    grid-template-columns: 2rem 4fr 1fr;
    grid-template-areas:
      "playing-indicator name duration"
      "description description description";
    border-bottom: 1px solid lighten($text-color, 40%);
    margin-bottom: 0;

    &:hover {
      background-color: lighten($accent-color, 20%);
      color: white;
      cursor: pointer;
    }

    .playing-indicator {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: playing-indicator;
      grid-row: 1 / span 2;
      min-width: 2rem;
    }

    .name {
      grid-area: name;
      margin: 0.5rem 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;
    }

    .duration {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      grid-area: duration;
      margin: 0.5rem 1rem;
    }

    .description {
      grid-area: description;
      margin: 0 3rem 0.5rem 3rem;
      font-size: 1.2rem;
    }

    &.playing {
      color: $accent-color;

      &:hover {
        color: white;
      }

      .playing-indicator .name,
      .duration {
        font-weight: normal;
      }
    }
  }
}
