@import "./colors";

$logo-dimension: 4rem;

#navbar {
  display: grid;
  grid-template-columns: $logo-dimension 4fr 2fr;
  grid-template-areas: "logo search profile-and-links";
  padding: 1rem;
  background-color: white;

  .logo {
    grid-area: logo;
    display: flex;
    align-items: center;

    svg {
      width: $logo-dimension;
      height: $logo-dimension;
      margin-top: 0.4rem;
      fill: $accent-color;
    }
  }

  .search {
    grid-area: search;
    display: flex;
    align-items: center;
    padding: 1rem;

    form {
      display: flex;
      margin-bottom: 0;
    }

    input,
    select,
    button {
      margin-bottom: 0;
      margin-right: 1rem;
    }

    .help {
      display: flex;
      align-items: center;
    }
  }

  .links {
    grid-area: profile-and-links;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .profile {
    grid-area: profile-and-links;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      width: $logo-dimension;
      height: $logo-dimension;
      border-radius: 50%;
    }

    img,
    p {
      margin-right: 0.5rem;
      margin-bottom: 0;
    }
  }
}

#q {
  width: 10rem;
  transition: width 0.5s ease-in-out;

  &:focus {
    width: 32rem;
  }
}

#type {
  max-width: 10rem;
}

@media (max-width: 1024px) {
  #navbar {
    grid-template-columns: $logo-dimension 8fr 4fr;
  }
}

@media (max-width: 768px) {
  #navbar {
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "search"
      "profile-and-links";

    .search {
      padding: 1rem 0;

      .help {
        display: none;
      }
    }

    .logo,
    .search,
    .profile,
    .links {
      justify-content: center;
    }

    input,
    select,
    button {
      font-size: 1.2rem;
    }
  }

  #q {
    width: 20rem;

    &:focus {
      width: 20rem;
    }
  }
}

@media (max-width: 576px) {
  #q {
    width: 12rem;

    &:focus {
      width: 12rem;
    }
  }
}
