@import "./colors";

.item {
  margin-top: 2rem;

  .details {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "artwork meta";
    column-gap: 2rem;
    margin-bottom: 2rem;

    .artwork {
      grid-area: artwork;
    }

    .meta {
      grid-area: meta;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      p,
      h1,
      h2,
      h3 {
        margin-bottom: 0;
      }

      .reference-links {
        display: flex;
        align-items: flex-end;

        a {
          margin-right: 0.5rem;
        }

        svg {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }

  .group {
    border-bottom: 1px solid lighten($text-color, 40%);
    margin-top: 2rem;
  }

  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .item {
    .details {
      grid-template-columns: 1fr;
      grid-template-areas:
        "artwork"
        "meta";
      text-align: center;

      .artwork {
        margin-bottom: 2rem;

        img {
          max-width: 80%;
        }
      }

      .meta {
        h1 {
          font-size: 3.6rem;
          margin-bottom: 1rem;
        }

        h2 {
          font-size: 2.4rem;
        }
      }

      .reference-links {
        justify-content: center;
        margin-top: 1rem;
      }
    }

    .filters {
      flex-direction: column;

      .pagination {
        margin-top: 1rem;
      }
    }
  }
}
