main {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

#explorer {
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content;
  grid-template-areas:
    "header"
    "alert"
    "media"
    "miniplayer";
  height: 100%;

  header {
    grid-area: header;
  }
}

.alert {
  margin-left: 10%;
  margin-right: 10%;
  grid-area: "alert";
}

.media {
  padding: 2rem 10%;
  grid-area: media;
  overflow-y: scroll;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.mini-player {
  grid-area: miniplayer;
}

@media (max-width: 1024px) {
  .alert {
    margin-left: 5%;
    margin-right: 5%;
  }

  .media {
    padding-left: 5%;
    padding-right: 5%;
  }
}
