main {
  max-width: 75%;
  margin: 0 auto;
  padding-bottom: 10rem;
}

@media (max-width: 1024px) {
  main {
    max-width: 92%;
  }
}

@media (max-width: 768px) {
  main {
    max-width: 90%;
    padding-bottom: 20rem;
  }
}
