.mini-player {
  background-color: $bg-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.5rem 2rem;

  img {
    max-width: 5rem;
  }

  p {
    margin-bottom: 0;
  }

  .progress {
    flex-grow: 1;
    margin: 0 4rem;
    display: flex;
    align-items: center;

    progress {
      margin: 1rem;
      flex-grow: 1;
    }
  }

  .meta {
    margin: 0 1.2rem;
  }

  .name,
  .button {
    display: block;
    margin-bottom: 0;
  }

  .name {
    font-weight: bold;
  }

  svg {
    height: 3rem;
    width: 3rem;
    fill: white;
  }

  .device {
    font-size: 3rem;
    display: flex;
    margin-right: 1.5rem;
    align-items: center;

    .notice {
      font-size: 1.4rem;
    }

    form {
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }

    select {
      margin-bottom: 0;
      background-color: white;
      margin-left: 1rem;
      width: 12rem;
    }

    button {
      margin-bottom: 0;
      margin-left: 1rem;
    }
  }

  .controls {
    a {
      font-size: 1.2em;
    }
  }

  .volume {
    margin-left: 1rem;

    .volume-up-button,
    .volume-down-button {
      font-size: 1em;
      line-height: 1em;
      cursor: pointer;
    }
  }

  #volume {
    margin-right: 0.4rem;
  }
}

@media (max-width: 1024px) {
  .mini-player {
    justify-content: space-between;
    flex-wrap: wrap;

    .progress {
      flex-grow: 0;
      width: 100%;
      order: -1;
      margin: 0 1rem 1rem 1rem;
    }

    .meta {
      flex-grow: 1;
      font-size: 1.2rem;

      .name {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 32rem;
      }
    }

    .device {
      margin: 1rem auto;

      .notice {
        margin-right: 1rem;
      }

      form {
        margin-right: 2rem;
      }
    }

    .volume {
      width: 100%;
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .mini-player {
    .meta {
      .name {
        max-width: 11rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .mini-player {
    .device {
      order: 5;

      form {
        margin-right: 0;
      }
    }
  }
}
