.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;

  li {
    list-style-type: none;
    margin-bottom: 0;

    &.current {
      padding: 0 1rem;
      font-weight: bold;
    }

    a {
      padding: 0 1rem;
    }
  }
}

@media (max-width: 768px) {
  .pagination {
    justify-content: center;
  }
}
