.results {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  column-gap: 2rem;
  margin-top: 2rem;

  .name,
  .artist-name,
  .release-date {
    margin-bottom: 0.4rem;
  }

  .name {
    font-weight: bold;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  .results {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    column-gap: 1rem;
  }
}

@media (max-width: 768px) {
  .results {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    font-size: 0.9em;
  }
}
