<div>
  <%= img_tag @track.album.thumbnails.small, alt: @track.name %>
  <h2><%= @track.name %></h2>
  <p><%= @track.artist.name %></p>
  <button type="button" phx-click="play" phx-value-uri="<%= @track.uri %>">Play</button>
</div>
