<div class="controls button-group">
  <a class="button button-small" href="#" phx-click="prev">&#9198;</a>
  <a class="button button-small" href="#" phx-click="toggle_play_pause">
    <%= case @status do %>
      <% :playing -> %>
        &#9208;
      <% :paused -> %>
        &#9654;
      <% end %>
  </a>
  <a class="button button-small" href="#" phx-click="next">&#9197;</a>
</div>
